<div class="aja my-4">
  <%= form_with(model: cliente, local: true) do |f| %>
      <div class="form-group">
         <%= f.label :Nombre, class: "label-sus" %>
         <%= f.text_field :nombre, label: false , class: "form-control" , placeholder: "Nombre Completo"%>
      </div>
      <div class="form-group">
         <%= f.label :Email, class: "label-sus" %>
         <%= f.text_field :email , label: false, class: "form-control", placeholder: "Correo Electronico"%>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :Celular, class: "label-sus" %>
          <%= f.number_field :telefono , label: false, class: "form-control", placeholder: "Telefono Celular"%>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :Ciudad, class: "label-sus" %>
          <%= f.text_field :ciudad, label: false , class: "form-control", placeholder: "Ciudad Actual"%>
        </div>
      </div>
      <div class="container text-center">
        <%= f.submit "Suscribete", class:"btn btn-outline-info btn-lg" %>
      </div>
  <% end %>
</div>
