<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Link</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Teg. James Andres Giraldo Escorcia">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="" class="<%= params[:controller] %>.<%= params[:action] %>">
       <%= render "partials/navbar" %>
       <%= custom_bootstrap_flash %>
       <div class="container">
          <%= breadcrumbs display_single_fragment: true ,separator: ' / ', class: "breadcrumbpropio"%>
       </div>
       <span id="ir-arriba" class="ir-arriba"></span>
       <div class="container">
         <%= yield %>
       </div>
    </div>
      <%= render "partials/footer" %>
  </body>
</html>
